# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

/phinx.yml
/config/db.php
/config/main.php
/config/auth.php

# vagrant runtime
/logs
/tmp

/public/img/covers/*
!/public/img/covers/.gitkeep

/public/img/screenshots/*
!/public/img/screenshots/.gitkeep

/public/torrents/*
!/public/torrents/.gitkeep

/public/download/*
!/public/download/.gitkeep

/templates/*
!/templates/standart/
/templates/standart/_downloadButton.php

!/templates/admin/

/public/themes/*
!/public/themes/standart/
!public/themes/admin/


/public/robots.txt