# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# vagrant runtime
/logs
/tmp
/public/img/covers
/public/img/screenshots
/public/torrents

/phinx.yml
/config/db.php

!.gitkeep