# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# vagrant runtime
/logs
/tmp

/public/img/covers/*
!/public/img/covers/.gitkeep

/public/img/screenshots/*
!/public/img/screenshots/.gitkeep

/public/torrents/*
!/public/torrents/.gitkeep

/phinx.yml
/config/db.php
/config/main.php
/config/auth.php

